.container-fluid1{height: 15%; background-color: deeppink;}
.container-fluid2{height: 75%; background-color: white;}
.container-fluid3{height: 10%; background-color: hsl(37, 78%, 44%);}
p{text-align: center;}
h2{text-align: center;color: blue;}
form{background-color:yellow; text-align:center;}

